@import url(http://fonts.googleapis.com/css?family=Ubuntu);
.toast-title {
  font-weight: bold; }

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #ffffff; }

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 12px;
  right: 12px; }

.toast-bottom-right {
  right: 12px;
  bottom: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/ }

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  width: 300px;
  background-position: 15px center;
  background-repeat: no-repeat;
  color: #ffffff; }

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto; }

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #19C400; }

.toast-error {
  background-color: #F70803;
  color: #000; }

.toast-info {
  background-color: #2f96b4; }

.toast-warning {
  background-color: #f89406; }

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  background-color: #FFF; }

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em; }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em; } }
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em; }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em; } }
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em; } }
body, html {
  background: #772953;
  font-family: 'Ubuntu', sans-serif;
  color: #FFF; }

img {
  max-width: 100%;
  height: auto; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 100px;
  /* bottom = footer height */ }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }

main {
  max-width: 900px;
  min-height: 100%;
  margin: 50px auto 0 auto;
  padding: 20px; }
  main h2 {
    font-size: 24px;
    margin: 25px 0 15px 0; }
  main p {
    line-height: 22px; }

main:after {
  content: "";
  display: block; }

header {
  float: left;
  border-bottom: 5px solid #5E2750;
  width: 100%;
  background: #DD4814;
  color: #DD4814;
  z-index: 998;
  position: fixed;
  top: 0px;
  height: 50px;
  line-height: 50px; }
  header nav {
    float: right;
    clear: both; }
    header nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      header nav ul a {
        display: inline;
        color: #FFF;
        float: left;
        text-decoration: none;
        margin: 0;
        padding: 0 10px; }
      header nav ul a:hover {
        background: #FFF;
        color: #333333; }
  header input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  header label {
    position: absolute;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 1.1em;
    color: #fff;
    -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
    user-select: none;
    margin: 0; }
  header label:after {
    position: absolute;
    right: 15px;
    top: 0;
    content: "\2261";
    font-size: 38px; }
  header label:hover,
  header input:checked ~ label {
    background-color: #FFF;
    color: #000; }
  header input:checked ~ nav[role="off-canvas"] {
    opacity: 1;
    left: 0;
    height: 100vh;
    background-color: #000; }
  header nav[role="off-canvas"] {
    height: 100vh;
    background-color: #000;
    -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    position: absolute;
    top: 55px;
    left: -300px;
    width: 300px;
    opacity: 0; }
    header nav[role="off-canvas"] ul a {
      padding: 0;
      float: none; }
      header nav[role="off-canvas"] ul a:hover {
        background: #000;
        color: #FFF; }
    header nav[role="off-canvas"] ul li {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      text-align: left;
      padding-left: 20px;
      display: block;
      -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      header nav[role="off-canvas"] ul li:hover {
        background: #FFF;
        color: #000; }

footer {
  display: none;
  background: #2C001E;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%; }
  footer p {
    padding: 5px;
    font-size: 12px; }

summary {
  color: #333333;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  overflow: hidden;
  border-radius: 12px;
  -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  summary h1 {
    font-size: 32px;
    clear: both;
    margin: 15px 0; }
  summary time {
    color: #AEA79F;
    font-size: 12px;
    margin-bottom: 5px;
    float: right;
    clear: both; }
  summary span {
    margin-top: 15px;
    display: block;
    background-color: #AEA79F;
    color: #333333;
    padding: 15px;
    float: right;
    cursor: pointer; }
  summary img {
    width: 100%; }

summary:hover {
  color: #FFF;
  -webkit-box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68);
  -moz-box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68);
  box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68); }

article {
  padding: 20px;
  background-color: #FFF;
  color: #333333; }
  article img.featured-image {
    border-radius: 14px;
    -webkit-box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68);
    -moz-box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68);
    box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68); }
  article h1:first-child {
    font-size: 42px;
    clear: both;
    margin: 25px 0; }
  article time:first-of-type {
    color: #AEA79F;
    font-size: 12px;
    margin-bottom: 5px;
    float: left;
    clear: both; }

.loader {
  z-index: 5000;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

svg path,
svg rect {
  fill: #FF6700; }

.loader svg {
  width: 253px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 126px); }

.modal-overlay {
  cursor: pointer;
  display: initial;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0; }

.modal h1 {
  margin-bottom: 9px; }
.modal h6 {
  font-size: 14px;
  margin: 10px 0 15px 0;
  font-weight: none; }
.modal a {
  color: #C50086;
  float: left;
  margin-top: 10px;
  clear: both; }
.modal form input {
  width: 100%;
  float: left;
  clear: both;
  margin: 8px 0;
  font-size: 22px;
  border: none;
  outline: none;
  padding: 8px;
  background-color: #6B4C61;
  color: #FFF;
  box-sizing: border-box; }
.modal form span {
  display: block;
  color: #2C001E;
  clear: both;
  float: left;
  width: 100%;
  background-color: #CCC;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 7px 0;
  cursor: pointer;
  -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.modal form span:first-of-type {
  background-color: #0F7800;
  color: #FFF; }
.modal form span:first-of-type:hover {
  background-color: #19C400; }
.modal form span:hover {
  background-color: #F70803; }

.forgot-pass {
  max-height: 350px; }

.modal.signin {
  max-height: 420px; }

.modal.signup {
  max-height: 525px; }

.modal.signup, .modal.signin, .modal.forgot-pass {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: #2C001E;
  z-index: 1000;
  overflow: auto;
  max-width: 375px; }

.good-value {
  border-bottom: 1px solid #00F000 !important; }

.bad-value {
  border-bottom: 1px solid #FF0000 !important; }

/*# sourceMappingURL=style.css.map */
