@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body, html {
  background: #772953;
  font-family: 'Ubuntu', sans-serif;
  color: #FFF; }

img {
  max-width: 100%;
  height: auto; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 100px;
  /* bottom = footer height */ }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }

main {
  max-width: 900px;
  min-height: 100%;
  margin: 50px auto 0 auto;
  padding: 20px; }
  main h2 {
    font-size: 24px;
    margin: 25px 0 15px 0; }
  main p {
    line-height: 22px; }

main:after {
  content: "";
  display: block; }

header {
  float: left;
  border-bottom: 5px solid #5E2750;
  width: 100%;
  background: #DD4814;
  color: #DD4814;
  z-index: 998;
  position: fixed;
  top: 0px;
  height: 50px;
  line-height: 50px; }
  header nav {
    float: right;
    clear: both; }
    header nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      header nav ul a {
        display: inline;
        color: #FFF;
        float: left;
        text-decoration: none;
        margin: 0;
        padding: 0 10px; }
      header nav ul a:hover {
        background: #FFF;
        color: #333333; }

footer {
  display: none;
  background: #2C001E;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%; }
  footer p {
    padding: 5px;
    font-size: 12px; }

summary {
  color: #333333;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  overflow: hidden;
  border-radius: 12px;
  -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  summary h1 {
    font-size: 32px;
    clear: both;
    margin: 15px 0; }
  summary time {
    color: #AEA79F;
    font-size: 12px;
    margin-bottom: 5px;
    float: right;
    clear: both; }
  summary span {
    margin-top: 15px;
    display: block;
    background-color: #AEA79F;
    color: #333333;
    padding: 15px;
    float: right;
    cursor: pointer; }
  summary img {
    width: 100%; }

summary:hover {
  color: #FFF;
  -webkit-box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68);
  -moz-box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68);
  box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68); }

article {
  padding: 20px;
  background-color: #FFF;
  color: #333333; }
  article img.featured-image {
    border-radius: 14px;
    -webkit-box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68);
    -moz-box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68);
    box-shadow: 0px 17px 41px 6px rgba(31, 0, 31, 0.68); }
  article h1:first-child {
    font-size: 42px;
    clear: both;
    margin: 25px 0; }
  article time:first-of-type {
    color: #AEA79F;
    font-size: 12px;
    margin-bottom: 5px;
    float: left;
    clear: both; }

.loader {
  z-index: 5000;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

svg path,
svg rect {
  fill: #FF6700; }

.loader svg {
  width: 253px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 126px); }

.modal-overlay {
  cursor: pointer;
  display: initial;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0; }

.modal h1 {
  margin-bottom: 9px; }
.modal h6 {
  font-size: 14px;
  margin: 10px 0 15px 0;
  font-weight: none; }
.modal a {
  color: #C50086;
  float: left;
  margin-top: 10px;
  clear: both; }
.modal form input {
  width: 100%;
  float: left;
  clear: both;
  margin: 8px 0;
  font-size: 22px;
  border: none;
  outline: none;
  padding: 8px;
  background-color: #6B4C61;
  color: #FFF;
  box-sizing: border-box; }
.modal form span {
  display: block;
  color: #2C001E;
  clear: both;
  float: left;
  width: 100%;
  background-color: #CCC;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 7px 0;
  cursor: pointer;
  -webkit-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.modal form span:first-of-type {
  background-color: #0F7800;
  color: #FFF; }
.modal form span:first-of-type:hover {
  background-color: #19C400; }
.modal form span:hover {
  background-color: #F70803; }

.forgot-pass {
  max-height: 350px; }

.modal.signin {
  max-height: 420px; }

.modal.signup {
  max-height: 525px; }

.modal.signup, .modal.signin, .modal.forgot-pass {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: #2C001E;
  z-index: 1000;
  overflow: auto;
  max-width: 375px; }

/*# sourceMappingURL=style.css.map */
