{{#each}} 

    <summary>

        <time>{{date}}</time>

        {{#if thumbnail}}
            <img {{bind-attr src=thumbnail }}>
        {{/if}}
        
        <h1>{{title}}</h1>

        <p>{{{excerpt}}}</p>
        
        {{#link-to 'post' id }} <span>Read More</span> {{/link-to}}
    
    </summary>

{{/each}}