{{#each}} 

    <summary>

        {{!-- <time>{{date}}</time> --}}

        {{#if thumbnail_images}}
            <img {{bind-attr src=thumbnail_images.full.url }}>
        {{/if}}
        
        <h1>{{title}}</h1>

        <p>{{{excerpt}}}</p>
        
        {{#link-to 'post' id }} <span>Read More</span> {{/link-to}}
    
    </summary>

{{/each}}