<header>

    <nav>
        <ul>
            {{#each row in pages}}
                {{#link-to 'page' row.id}} <li>{{row.title}}</li> {{/link-to}}
            {{/each}}

            {{#link-to 'posts' }} <li>Blog</li> {{/link-to}}
        </ul>
    </nav>

</header>

<main role="main" >
    {{outlet 'centercontent'}}
</main>


<footer class="site-footer">
    <p>I'm the Sticky Footer.</p>
</footer>

{{outlet modal}}
{{outlet loading}}